body{
    margin:0;
}
.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    width: -max-content;
    height: -max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container>a {
    text-decoration: none;
    color: black;
    box-shadow: 2px 3px 3px 1px #00000080;
    height: 100px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-radius: 10px;
    border:2px solid #00000000;
    transition: border-color 0.3s;
}
.container>a:hover{
    border-color: #00000080;
}